// Colors 
$white:      #ffffff;
$ltgrey:     #f7f7f7;
$grey:       #495260;
$dkgrey:     #292e36;
$lite_bg_grey: #F4F4F4;

// Brand Primary
$blue:       #1e425d;
$ltblue:     #3878a8;
$ltblue2:    #b8ccde;

// Brand Secondary
$bluegrey:   #b9ccde;
$black:      #232323;
$green:      #0e8e8c;
$orange:     #ff8644;